header {
	padding-top: 2rem;

	h5 {
		text-align: right;
		margin-top: 0;
	}
}

img { 
	margin: 0.5rem 0; // 0.5rem auto;
	max-height: 80vh;
}

$endnav-fontsize: 1.45rem;
#end-nav {
	p {
		text-align: center;
		font-size: $endnav-fontsize;
	}
}