---
---
.layoutContainer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	@supports (min-height: 100dvh) {
		min-height: 100dvh;
	}
}

header {
	padding-top: 2rem;
	flex: none;

	h5 {
		text-align: right;
		margin-top: 0;
	}
}

main {
	flex: 1 0 auto;

	> *:first-child {
		margin-top: 0;
	}
}

footer {
	flex: none;

	p {
		text-align: center;
		font-size: 1.45rem;
	}

	> *:first-child {
		margin-top: 0;
	}
}