---
---
.layoutContainer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	@supports (min-height: 100dvh) {
		min-height: 100dvh;
	}
}

header {
	padding-top: 2rem;
	flex: none;
	// position: fixed;
	// position: sticky;
	// top: 0;

	h5 {
		text-align: right;
		margin-top: 0;
	}
}

main {
	flex: 1 0 auto;

	> *:first-child {
		margin-top: 0;
	}
}

.poem {
	ul {
		list-style-type: none;
		padding: 0;
		// margin: 0;

		li {
			margin: 0 0 0.4rem 0;
			line-height: 1.2;
		}
		li:last-child { margin-bottom: 0; }
	}
}

footer {
	flex: none;

	p {
		text-align: center;
		font-size: 1.45rem;
	}

	> *:first-child {
		margin-top: 0;
	}
}